<div id="<%= dom_id customer %>">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= customer.birthdate %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= customer.contact %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= customer.gender %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= customer.is_active %>
  </p>

</div>
